/***************** Globais *****************/

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/***************** Header Top *****************/

.headerTop {
  background-color: #122ab2;
}

.headerTopContainer {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  box-sizing: border-box;
}

.headerTime,
.headerNumber a,
.headerLocation {
  color: #fff;
  font-weight: 700;
}

/***************** Header Under *****************/

.headerUnder {
  background-color: #2c70ff;
}

.headerUnderContainer {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  box-sizing: border-box;
}

.logo a {
  color: #fff;
  font-weight: 700;
  font-size: 38px;
}

.menu ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.menu a {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.menu a:hover {
  text-decoration: underline;
  transition: 0.3s;
}

/***************** Header Under *****************/